<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>
{% macro show_devotional_content(devotional) %}
<div style="margin: 1.5em 1.5em;">

    <p
        style="color: #2279cb; font-size: 22px; font-family: Serif; font-weight: lighter; line-height: 1em; margin-bottom: 0.25em;">
        {{devotional.day}} {{devotional.date}}</p>
    <h2
        style="text-align: center; color: #2279cb; font-size: 30px; font-family: Serif; font-weight: lighter; margin-top: 0.2em; margin-bottom: 0.1em;">
        {{devotional.title}}</h2>

    <p
        style="font-style: italic; font-weight: lighter; font-size: 24px; font-family: Serif !important; text-align: center; line-height: 1em; margin-bottom: -0.85em;">
        {{devotional.passage}}</p>
    <br>
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 1em; margin-top: 1em;">
        <tr>
            <td style="font-family: Serif !important; font-size: 24px; text-align: left; white-space: nowrap;">
            <strong>La escritura de hoy: </strong>
            <a href="{{devotional.verse_link_unquoted}}"
                style="font-family: Serif !important; font-size: 24px; color: rgb(26, 86, 151); text-decoration: none;">
                {{devotional.verse_text}}
            </a>
            </td>
            <td style="font-family: Serif !important; font-size: 20px; text-align: right; white-space: nowrap;">
            {%- if devotional.author_text and devotional.author_link %}
            De: <a href="{{devotional.author_link}}"
                    style="font-family: Serif !important; font-size: 20px; color: rgb(26, 86, 151); text-decoration: none;">
                {{devotional.author_text}}
            </a>
            {%- endif %}
            </td>
        </tr>
    </table>

    {%- for paragraph in devotional.content_unquoted %}
    <p
        style="font-family: Serif !important; font-size: 24px; line-height: 1.5em; text-align: justify; margin-bottom: -0.75em;">
        {{paragraph}}</p>
    {%- endfor %}

    <p style="font-family: Serif !important; font-size: 26px; margin-top: 1.25em; margin-bottom: -0.75em;">
        <strong>{{devotional.reflection_heading}}</strong>
    </p>
    <p style="font-family: Serif !important; font-size: 24px; line-height: 1.15em; margin-bottom: -0.75em;">
        {{devotional.reflection_question}}</p>
    <p style="font-style: italic; font-family: Serif !important; font-size: 24px; line-height: 1.15em;">
        {{devotional.reflection_prayer}}</p>
</div>
{%- endmacro %}
{%- set loop_index = namespace(index = 1, last=devotionals|length) %}
{%- for devotional in devotionals %}
{{ show_devotional_content(devotional) }}
{%- if loop_index.last != loop_index.index %}
<div style="display:block; clear:both; page-break-after:always;"></div>
{%- endif %}
{%- set loop_index.index = loop_index.index + 1 %}
{%- endfor %}

</html>